# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Vercel
.vercel

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.fleet
.idea
.vscode
*.tgz
.eslintcache

# Local env files
.env
.env.*
!.env.example

# Firebase
.firebaserc
.firebase/
firebase-debug.log

# Aider (legacy)
.aider*
